/* Custom styles for a dark theme with green accents */
body {
    margin-top: 56px;
    background-color: #222;
    color: #fff;
    padding: 0;
}
::selection {
    background-color: #00ff00; /* Green text selection */
    color: #000;
}
/* Navbar */
.navbar {
    background-color: #111;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #00ff00; /* Green text for navbar links */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #66ff66; /* Light green on hover */
}

/* Secondary Navbar */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #333;
    color: #00ff00; /* Green text for active secondary navbar links */
}

.nav-link {
    color: #00ff00; /* Green text for secondary navbar links */
    margin: 0 5px 0 5px;
}

.nav-link:hover {
    color: #66ff66; /* Light green on hover */
    background: #333;
}

/* Carousel */
.carousel-inner {
    background-color: #333;
}

.btn-link {
    color: #00ff00; /* Green text for accordion buttons */
}

/* Main Content Sections */
.col-lg-9 {
    color: #fff;
}

h2 {
    color: #00ff00; /* Green headers */
}

p {
    color: #ccc;
}

.btn-primary {
    background-color: #00ff00; /* Green accent for download buttons */
    border-color: #00ff00; /* Green accent for download button borders */
}

.btn-primary:hover {
    background-color: #555555; /* Darker green on hover */
    border-color: #66ff66; /* Light green on hover */
}

.list-group-item {
    background-color: #444;
    border: 1px solid black;
}

/* Downloadable Files */
.accordion {
    background-color: #333;
}

.card-header {
    background-color: #555;
    color: #00ff00; /* Green text for accordion headers */
}

.card-body {
    background-color: #333;!important
    position: relative; /* Position relative pour le positionnement absolu du bouton */
}

/* Footer */
.bg-dark {
    background-color: #111;
}

.text-light {
    color: #fff;
}

.footer {
    background-color: #111;
    color: #fff;
    margin-top: 20px;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.sectionTitle {
    color: #00ff00; /* Green text for section titles */
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}

#article {
    width: 98vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articleBody {
    margin: 10px;
    max-height: 400px;
    display: flex;
    flex-direction: column; /* Assurez-vous que les enfants s'affichent verticalement */
    height: 400px; /* Assurez-vous que la hauteur de la division parente est respectée */
}

#finder {
    display: block;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    margin : 20px;
}

#finderBar {
    width: 40vw;
}

.carousel-item img {
    /* Assurer que l'image s'ajuste à la taille de son conteneur */
    width: 100%;
    /* Utiliser object-fit pour remplir complètement le conteneur avec l'image */
    object-fit: cover;
}

#carousel {
    /* Définir une hauteur fixe pour le carousel */
    max-height: 400px;
    /* Ajouter une marge automatique pour centrer le carousel horizontalement */
    margin: auto;
    overflow: hidden;
    /* Ajouter une bordure en bas pour améliorer l'apparence */
    border-bottom: 3px solid #111;
}






.card-text {
    overflow: scroll;
    text-overflow: ellipsis;
    max-height: 60px;
}
#content {
    padding: 0;
    margin: 0;
}
#downloads {
    border-top: 3px solid #111;
    width: 100vw;
    padding: 20px;
}
#buttonChercher {
    border-radius: 0 0.25rem 0.25rem 0;
}
#articleTitleLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#articleTitleDiv {
    display: inline;
    align-items: center;
}
#articleLikeDiv {
    display: inline;
    align-items: center;
}
#articleDate {
    display: inline;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-items: center;
}
#articleLike {
    display: inline;
    align-items: center;
}
#articleTitle {
    color: #00ff00; /* Green text for section titles */
    margin: 0;
    font-size: 25px;
}
#articleContent {
    color: #ccc;
    margin-top: 10px ;
    padding: 0;
}
#readMore {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
}
@media(max-width: 650px) {
    #finderBar {
        width: 80vw;
    }
}